<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gg.yms.icia.dao.IChampDao">

	<select id="mainChampList" resultType="ChampImg">
		SELECT CH_IMG_CHAMPIONID, CH_IMG_IMG1 FROM CHAMPIMG
		ORDER BY CH_IMG_CHAMPIONNAMEKR
	</select>
	
</mapper>